*{
    /* color-scheme: dark; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #f5f5f5;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #333;
}
::-webkit-scrollbar-thumb{
    color: #4a7279;
}
::-webkit-scrollbar-track{
    color: red;

}
::-webkit-scrollbar-button{
    color: red;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background: transparent;
}
body{
    background-color: #f5f5f5;
}
label {
    background: transparent;
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}
button {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.05;
    min-height: 1rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 10px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: fit-content;
}

button:hover,
button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
div input{
    height: 40px;
}
input , .textarea{
    background-color: #F4F4F4;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    padding: 10px;
    /* width: 100%; */
    /* max-width: 200px; */
    height: 50px;
    line-height: 30px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px #85878600 solid;
}
input:focus, .textarea:focus {
    background-color: #EAEAEA;
    border-bottom: 2px #858786 solid;
}
input:invalid {
    animation: justshake 0.3s forwards;
    color: red;
    border-bottom: 2px #e34e4e solid;
}
@keyframes justshake {
    25% {
      transform: rotate(5deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    75% {
      transform: rotate(5deg);
    }
}
a{
    text-decoration: none;
    background: transparent;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #4a7279;
}
.site-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    background:transparent;
}
.navbar{
    background: transparent;
    color: black;
    padding: 0px 20px;
}
/* nav a{
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    background: transparent;
    color: rgba(255, 255, 255, 0.825);
} */
.navbar-item{
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    background: transparent;
    
    border-bottom: 2px #ffffff00 solid;
    transition: all 0.3s ease-in-out;
}
.navbar:hover >  .navbar-item{
    opacity: 0.5;
}
.navbar:hover >  .navbar-item:hover{
    opacity: 1;
}
.navbar .navbar-item:hover,.navbar .navbar-item:active{
    scale: 1.02;
    border-bottom: 2px #ffffff solid;      
}
.nav-buttons{
    background: transparent;
}
.nav-buttons button{
    /* border-radius: 15px; */
    background-color:#afdfebb6;
    background-color:transparent;
    color: white;
    border:2px  white solid;
}
.nav-buttons button:hover{
    border: 2px #bfc0c0 solid;
    
    color: black;
    background-color:#bfc0c0;
}
.nav-buttons button:first-child{
    margin-right: 20px;
}
.bg-transparent, *{
    background: transparent;
}
.mb-2{
    margin-bottom: 2rem;
}

.add-post-btn {
    padding: 17px 20px;
    align-self: flex-end;
    border-radius: 20px;
    cursor: pointer;
    border: 1px dimgray solid;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
  
.add-post-btn:hover {
    letter-spacing: 3px;
    background-color: #4a7279;
    color: #ffffff;
    box-shadow: #4a7279 0px 7px 29px 0px;
}
  
.add-post-btn:active {
    letter-spacing: 3px;
    background-color: #4a7279;
    color: #ffffff;
    box-shadow: #4a7279 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
.post{
    background: white;
    height: 100px;
    transition: all 0.8s ease;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    overflow: hidden;
}
.post:hover{
    border: 1px gray solid;
}

hr:first-child{
    visibility: hidden;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(17, 17, 17, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.del-btn:hover{
    background-color: #c41b1b;
    color: white;
}

.loader {
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }