{% extends 'newco/layout.html' %}

{% block title %}Add Job{% endblock %}
{% block body %}
<div class="w-auto h-auto mt-4 center bg-transparent flex-column"> 
    {% if messages %}
        <div class="center bg-transparent w-100" style="z-index: 1; position: fixed; pointer-events: none; opacity: 0.8;">
            <div class="col-md-3 mt-5 center bg-transparent w-100">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">
                    {% endif %}
                            {{ message }}
                        </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <form action="" method="post" onsubmit="return validateJobForm()" class="w-50 h-auto p-2 form" >

    {% csrf_token %}
        <legend class="heading mt-4 mb-2">Add Job Post</legend>
        <div class="center w-100 flex-column">
            <div class="w-75 mb-4">
                <label class="label" for="job-title">Title</label>
                <input class="w-100" id="job-title" name="job-title"  placeholder="Post title" type="text">
            </div>
            
            <div class="w-75 mb-4">
                <label class="label" for="job-description">Description</label>
                <textarea class="textarea h-75 w-100" id="job-description" placeholder="Employee Specification" name="job_description"></textarea>
            </div>
            
            <div class="w-75 mb-4">
                <label class="label" for="job-type">Job Specification</label>
                <input class="w-100" pattern="\w+" id="job-type" name="job-type" type="text" placeholder="eg. Driver">
            </div>
            
            <div class="w-75 mb-4">
                <label class="label" for="salary">Salary</label>
                <input class="w-100" id="salary" name="salary" type="text"  placeholder="eg. 3000-5000">
            </div>

            <div class="w-75 mb-4">
                <label class="label" for="location">Job Location</label>
                <input class="w-100" id="location" name="location" type="text" placeholder="Location">
            </div>
            
        </div>
          

    <div class="center">
        <button type="submit" class="add-post-btn mb-4">Add Job</button>
    </div>
    </form>
</div>
{% endblock %}
