{% extends 'newco/layout.html' %}
{% block body %}
{% include 'newco/messages.html' %}
{% if request.user == job.user %}
    <div class="w-100 h-auto center"> 
        <div class="w-50 d-block m-3">

            <h2 class="text-center m-4 display-6">Applicants for {{ job.title }}</h2>

            {% if applied %}
                <table class="table table-bordered  text-center mt-5">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Job Title</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for applicant in applied %}
                            <tr class="text-center">
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'profile' applicant %}" class="a-hover">u/{{ applicant.username }}</a></td>
                                <td>{{ job.title }}</td>
                                <td class="flex-row" style="width: 300px;gap:10px;">
                                    <a href="">
                                        <!-- <button class="logout-btn">View</button> -->
                                        <div class="center">{{ applicant.userprofile.phno }}</div>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <div class="h-100 lead center">
                No applicants for this job yet
            </div>
            {% endif %}
        </div>
    </div>

{% endif %}
{% endblock %}
