{% extends 'newco/layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}    
{% if messages %}
    <div class="center bg-transparent w-100" style="position: absolute; pointer-events: none; opacity: 0.7;">
        <div class="col-md-5 mt-5 center bg-transparent w-100">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                {% else %}
                    <div class="alert alert-{{ message.tags }}">
                {% endif %}
                        {{ message }}
                    </div>
            {% endfor %}
        </div>
    </div>
{% endif %}    

{% endblock %}