{% extends 'newco/layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}    
<div class="center bg-transparent w-100" style="position: absolute; pointer-events: none; opacity: 0.7;">
    <div class="col-md-5 mt-5 center bg-transparent w-100">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}    
    </div>
</div>
{% endblock %}