{% extends 'newco/layout.html' %}

{% block title %}Login{% endblock %}
{% block nav-header %}{% endblock %}
{% block body %}
<div class="center bg-transparent w-100" style="position: absolute; pointer-events: none; opacity: 0.7;">
    <div class="col-md-3 mt-5 center bg-transparent w-100">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                {% else %}
                    <div class="alert alert-{{ message.tags }}">
                {% endif %}
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="w-auto h-100 center flex-column"> 
    <form action="" method="post" class="form" style="height: 400px;">
        {% csrf_token %}
        <legend class="heading">Login</legend>
        
        <div class="w-100 center bg-transparent h-25">
            <input class="h-75" name="username"  placeholder="Username" type="text">
        </div>
        
        <div class="w-100 center bg-transparent h-25">
            <input class="h-75" name="password"  placeholder="Password" type="password" >
        </div>
        
        <div class="center h-50 bg-transparent" style="gap: 20px;">
            <a href="{% url 'newco-home' %}"><button style="background-color: white; color: black;" type="button">Back</button></a>
            <button type="submit">Login</button>
        </div>

        <div class="center signup-prompt">
            <a class="links " href="{% url 'newco-register' %}">
                Don't have an account? Register
            </a>
        </div>
    </form>

    
</div>
{% endblock %}