{% if messages %}
    <div class="center bg-transparent w-100" style="z-index: 1; position: absolute; pointer-events: none; opacity: 0.7;">
        <div class="col-md-3 mt-5 center bg-transparent w-100">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                {% else %}
                    <div class="alert alert-{{ message.tags }}">
                {% endif %}
                        {{ message }}
                    </div>
            {% endfor %}
        </div>
    </div>
{% endif %}