{% if messages %}
    <div class="bg-transparent w-100" style="align-items: end;z-index: 1; position: absolute; pointer-events: none;">
        <div class="mt-5 center bg-transparent w-100" style="opacity: 0.8;">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                {% else %}
                    <div class="alert alert-{{ message.tags }}">
                {% endif %}
                        {{ message }}
                    </div>
            {% endfor %}
        </div>
    </div>
{% endif %}