{% extends 'newco/layout.html' %}
{% block body %}
{% include 'newco/messages.html' %}

{% if jobs %}
<div class="w-100 h-auto center"> 
    <div class="w-50 d-block m-3">
        {% for job in jobs %} 
        <hr>
            <a href="{% url 'job-profile' job.id %}" class="w-100">
                <div class="post column nothover form w-100 flex-row">
                    <div class="flex-column w-100">
                        <div class="w-100 lead" style="font-weight: 600;">{{ job.title }}</div>
                        <div class="w-100 ">{{ job.job_specification }}</div>
                        <div class="w-100 ">Rs. {{ job.salary }}</div>
                        <div class="w-100 " >Location: {{ job.location }}</div>
                    </div>
                </a>
                {% if request.user == job.user %}
                    <div class="w-25 center" style="height: 90px;"><a href="delete/{{ job.id }}"><button type="button" class="del-btn">Delete</button></a></div>
                {% else %}
                    <div class="w-25 center" style="height: 90px;"><a href="{% url 'unapply' job.id %} "><button type="button" class="del-btn">Unapply</button></a></div>
                {% endif %}
            </div>
        {% endfor %}            
    </div>
{% else %}
    <div class="w-100 h-75 center">
        {% if 'applied' in request.path %}
            <div class="display-6 h1">You haven't applied for any jobs yet</div>
        {% elif 'posts' in request.path %}
            <div class="display-6 h1">You haven't posted any jobs yet</div>
        {% endif %}
    </div>
{% endif %}
{% endblock %}