{% extends 'newco/layout.html' %}
{% block body %}
{% include 'newco/messages.html' %}

{% if jobs %}
<div class="w-100 h-auto center"> 
    <div class="w-50 d-block m-3">
        {% for job in jobs %} 
        <hr>
            <a href="{% url 'job-profile' job.id %}" class="w-100">
                <div class="post column nothover form w-100 flex-row">
                    <div class="d-inline-flex flex-column w-100" style="justify-content: space-evenly;">
                        <div class="w-100 lead" style="font-weight: 600;">{{ job.title }}</div>
                        <div class="job-spec">{{ job.job_specification.capitalize }}</div>
                        <div class="w-100 "><svg xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="50 -850 850 900" stroke-width="2" stroke="black"><path d="M540-172 306-416v-44h114q63 0 116-39.5T588-616H266v-28h320q-11-51-57-83.5T420-760H266v-28h428v28H528q33 17 57 48.5t29 67.5h80v28h-78q2 85-58 134.5T420-432h-90l249 260h-39Z"/></svg>{{ job.salary }}</div>
                        <div class="w-100 " ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>{{ job.location }}</div>
                    </div>
                </a>
                {% if request.user == job.user %}
                    <div class="w-25 center" style="height: 90px;"><a href="delete/{{ job.id }}"><button type="button" class="del-btn">Delete</button></a></div>
                {% else %}
                    <div class="w-25 center" style="height: 90px;"><a href="{% url 'unapply' job.id %} "><button type="button" class="del-btn">Unapply</button></a></div>
                {% endif %}
            </div>
        {% endfor %}            
</div>
{% else %}
    <div class="w-100 h-75 center">
        {% if 'applied' in request.path %}
            <div class="display-6 h1 d-block center">You haven't applied for any jobs yet
            <div class="note center mt-5" style="font-weight: 600;font-size: 20px;"><a id="note-contrib" href="{% url 'listings' %}">Look for Jobs?</a></div>
        {% elif 'posts' in request.path %}
            <div class="display-6 h1 d-block center">You haven't posted any jobs yet
            <div class="note center mt-5" style="font-weight: 600;font-size: 20px;"><a id="note-contrib" href="{% url 'add-job' %}">Post a Job?</a></div>
        {% endif %}
    </div>
{% endif %}
{% endblock %}