{% extends 'newco/layout.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'newco/log.reg.styles.css' %}">{% endblock %}
    

{% block title %}Register{% endblock %}
{% block nav-header %}
{% endblock %}

{% block body %}
{# bootstrap css height of input needs to be adjusted as per the height of the form #}
<div class="w-auto h-100 center"> 
    <form action="" method="post" onsubmit="return validateRegistration()" class="form" style="height: 600px;">
        {% csrf_token %}
        <p class="heading">Register</p>
        <div class="w-100 center bg-transparent" style="flex-direction: column;">
            <div class="mb-2 bg-transparent">
                <input  id="username" name="username" oninput="emailvaluate()" placeholder="Username" type="text">
            </div>
            
            <div class="mb-2 bg-transparent">
                <input  id="email" name="email" placeholder="Email" type="email">
            </div>

            <div class="mb-2 bg-transparent">
                <input  id="phno" name="phno" pattern="\d{0,10}" placeholder="Phone Number" type="text">
            </div>
            
            <div class="mb-2 bg-transparent">
                <input id="age" name="age" placeholder="Age"  type="number">
            </div>
            <div class="mb-2 bg-transparent">
                <div class="radio-inputs">
                    <label class="radio">
                      <input type="radio" name="radio" value="Male" checked="">
                      <span class="name">Male</span>
                    </label>
                    <label class="radio">
                      <input type="radio" value="Female" name="radio">
                      <span class="name">Female</span>
                    </label>
                    
                  </div>
            </div>
            
            <div class="mb-2 bg-transparent">
                <input  id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-2 bg-transparent">
                <input  id="cpassword" name="cpassword" placeholder="Confirm Password" type="password">
            </div>
            
        </div> 
        
        
        <div class="center h-50 bg-transparent" style="gap: 20px;">
            <a href="{% url 'newco-home' %}"><button type="button" style="border-radius: 10px; color: black;">Back</button></a>
            <button class="log-reg-btn">Sign Up</button>
        </div>
        <div class="center signup-prompt">
            <a class="links" href="{% url 'newco-login' %}">Already have an account? Log In</a>
        </div>
    </form>
    

    <div class="center bg-transparent w-100" style="position: absolute; pointer-events: none; opacity: 0.7;">
        <div class="col-md-5 center bg-transparent w-100">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">
                    {% endif %}
                            {{ message }}
                        </div>
                        </div>
                {% endfor %}
            {% endif %}
        
    </div>
</div>
</div>

{% endblock %}