{% extends 'newco/layout.html' %}
{% load static %}
{% block body %}
{% include 'newco/messages.html' %}
{% if request.user.username in request.path %}
<div class="w-100 h-75 mt-5 center bg-transparent flex-column"> 
    <div class="p-2 form h-75 nothover center" >
        <form action="" method="post" id="ssnform" enctype="multipart/form-data" onsubmit="validateAadhar(event)">
            {% csrf_token %}

            <div class="w-75 mb-4">
                <label class="label" for="aadharPhoto">Aadhar PDF from <a target="_blank" href="https://uidai.gov.in/">UIDAI</a>:</label>
                <input type="file" class="notinput w-100" id="aadharPhoto"  name="aadharPhoto" >
            </div>

            <div class="w-75 mb-4">
                <label class="label" for="pdf_psd">PDF Password:</label>
                <input type="text" class="input" id="pdf_psd" name="pdf_psd" pattern="^[A-Z]{0,4}\d{0,4}$" autocomplete="off">
            </div>

            <div class="w-75 mb-4">
                <label class="label" for="aadharNumber">Aadhar Number:</label>
                <input type="text" class="input" id="aadharNumber" name="aadharNumber" pattern="^\d{0,12}$" autocomplete="off" >
            </div>

            <button type="button" class="mb-2" id="cncl-btn" onclick="window.location.href=`{% url 'profile' request.user.username %}`">Go Back</button>
            <button type="submit" id="subbtn">Submit</button>

        </form>
    </div>
</div>
{% endif %}
{% endblock %}